html{
    scroll-behavior: smooth;
}
body{
    background-color: #191124;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: 'golos';
    src: url(fonts\PT\PT\Golos-UI\ golos-ui_medium.woff);
}
@font-face{
    font-family: 'ssboldin';
    src: url(fonts/boldin\ bold.otf);
}
@font-face{
    font-family: 'gomme';
    src: url(fonts/Gomme\ Sans.ttf);
}
.frist {
    width: 100%;
    height: 100vh;
    background-image: url(images/фонхедер.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.first__inner{
    max-width: 1600px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.header{
    width: 100%;
    max-width: 1600px;
    position: absolute;
    top:0;
    padding-top: 15px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 0 0 0 10px;
    padding-right: 44px;
    transition: 0.3s;
}
.logo:hover{
    transform: scale(1.1);
}
.logo-img{
    width: 100px;
    height: 100px;
}
.menu__list{
    display: flex;
}
.menu__item{
    margin: 0 15px;
}
.menu__item-link{
    font-family: 'Rubik';
    font-size: 22px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
}
.menu__item-link:hover{
    opacity: 0.8;
}
.menu__item-link::after{
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #8F5CD2;
    transition: 0.4s;
}
.menu__item-link:hover:after,
.menu__item-link:focus:after{
    width: 100%;
}
.header__button{
    width: 214px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background: #965de0;
    border-radius: 23px;
    cursor: pointer;
    margin: 0 10px 0 0;
    transition: 0.3s;
}
.header__button:hover{
    background:#a570eb;
}
.first__text {
    text-align: center;
}
.first__title {
    font-family: 'ssboldin';
    font-size: 70px;
    color: #B68BD9;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
    cursor:default;
}
.first__subtitle {
    font-family: 'gomme';
    font-size: 40px;
    color: #B68BD9;
    cursor:default;
}
/*-----------------------------------------------------------*/
.img-title{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 45px;
    background-attachment: fixed;
}

#first{
    background-image: url(images/фон1.jpg);
}
#second{
    background-image: url(images/фон2.jpg);
}
#third{
    background-image: url(images/фон3.jpg);
}
.decor_top{
    width: 100%;
    position: absolute;
    top:0;
    pointer-events: none;
}
.decor_bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}
.main-block{
    background-color: #191124;
    width: 100%;
    min-height: 200px;
}
/*-----------------------------------------------------------*/
.main__title{
    margin: 15px 0 30px 0;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    color: #FFFFFF;
}
.main__text{
    max-width: 550px;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    line-height: 32px;
    color: #D8D8D8;
    margin-bottom: 80px;
    
}
.main__link{
    text-decoration:underline;
    color: #dbdbdb;
}
.main__list{
    max-width: 700px;
    margin: 0 auto 70px;
    list-style-type:disc;

}
.main__item {
    font-size: 20px;
    line-height: 32px;
    color: #D8D8D8;
    margin: 15px 0;
}
/*-----------------------------------------------------------*/
.timetable{
    scroll-margin-top: 200px;
}
.timetable__wrapper {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}
/* 221924 */
.timetable__box {
    width: 145px;
    height: 123px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #483563;
    padding: 12px;
}
.timetable__title {
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.timetable__text {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: hsla(0,0%,100%,0.5);
}
.current{
    background: #8b6991;
}
.aa{
    background-color: #5e4979;
}
/*-----------------------------------------------------------*/
.ps4{
    margin: 0 auto;
    max-width: 420px;
}
.tarif__inner{
    margin: 0 auto 80px;
    max-width: 1160px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.tarif__box {
    width: 270px;
    height: 314px; 
    padding: 15px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color:#483563;
}
.tarif__title {
    line-height: 16px;
    margin-bottom: 22px;
}
.tarif__info-block {
    display: flex;
    justify-content: space-between;
}
.tarif__info-block_inner{
    width: 130px;
}
.info-block__title {
    line-height: 16px;
    color:hsla(0,0%,100%,0.5);
    margin-bottom: 13px;
}
.info-block__text {
    line-height: 16px;
    color:#fff;
}
.tarif__empty{
    display: none;
    height: 76px;
}
.tarif__line{
    width: 100%;
    height: 1px;
    background-color:hsla(0,0%,100%,0.5) ;
    margin: 18px 0;
}
.info-block__grafik {
    display: flex;
    justify-content: center;
    line-height: 25px;
    text-align: center;
}
.ps4{
    justify-content: center;
}
.address{
    max-width: 800px;
    margin: 0 auto;
    filter: grayscale(0.4);
}
.address__inner{
    margin: 0 auto;
    border-radius: 17px;
    display: block;
}
.decor-footer{
    width: 100%;
    vertical-align: bottom;
    pointer-events: none;
}
.footer {
    margin-top: 100px;
}
.footer__inner {
    background-color: #252525;
    height: 50px;
}










@media (max-width: 1143px) {
    .tarif__inner{
        justify-content: center;
    }
    .address__inner{
        height: 400px;
        width: 600px;
    }
}
@media (max-width: 1003px) {
    .header{
        padding-top: 5px;
    }
    .menu__item-link {
        font-size: 17px;
    }
    .header__button{
        width: 200px;
        height: 40px;
    }
    .logo {
        margin: 0 0 0 10px;
        padding-right: 20px;
        transition: 0.3s;
    }
    .logo-img {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 858px) {
    .tarif__box{
        width: 220px;
        height: 260px;
    }
    .tarif__title{
        text-align: center;
    }
    .info-block__title{
        text-align: center;
    }
    .info-block__text{
        text-align: center;
    }
    .info-block__grafik{
        text-align: center;
        line-height: 18px;
    }

}
  @media (max-width: 838px) {
    .header{
        padding-top: 5px;
    }
    .menu__item-link {
        font-size: 14px;
    }
    .header__button{
        width: 170px;
        height: 35px;
        font-size: 14px;
    }
    .logo {
        margin: 0 0 0 10px;
        padding-right: 20px;
        transition: 0.3s;
    }
    .logo-img {
        width: 70px;
        height: 70px;
    }
    .main__list{
        max-width: 500px;
    }
    .main__item{
        font-size: 16px;
        line-height: 25px;
    }
  }
  @media (max-width: 722px) {
    .header{
        padding-top: 0px;
    }
    .menu__item-link {
        font-size: 12px;
    }
    .header__button{
        width: 170px;
        height: 35px;
        font-size: 14px;
    }
    .logo {
        margin: 0 0 0 10px;
        padding-right: 20px;
    }
    .logo-img {
        width: 60px;
        height: 60px;
    }
    .menu__item {
        margin: 0 10px;
        line-height: 25px;
    }
  }
  @media (max-width: 679px) {
    .first__title{
        font-size: 45px;
    }
    .first__subtitle{
        font-size: 20px;
    }
    .main__title{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .main__text{
        padding: 0 20px;
        font-size: 18px;
    }
    .address__inner{
        height: 400px;
        width: 500px;
    }
  }
  @media (max-width: 606px) {
    .menu__item {
        display: none;
    }
    .logo {
        margin: 0 0 0 20px;
    }
    .header__button{
        margin: 0 20px 0 0 ;
    }
    .img-title{
        font-size: 30px;
    }
    .main__list{
        max-width: 400px;
    }
    .main__item{
        font-size: 16px;
    }
  }
  @media (max-width: 543px) {
    .address__inner{
        height: 300px;
        width: 400px;
    }
  }
  @media (max-width: 478px) {
    .main__list{
        max-width: 300px;
    }
    .main__item{
        font-size: 16px;
        line-height: 20px;
    }
  }
  @media (max-width: 440px) {
    .first__title{
        margin-bottom: 15px;
        font-size: 30px;
    }
    .first__subtitle{
        font-size: 15px;
    }
    .main__title{
        font-size: 25px;
    }
    .main__text{
        font-size: 17px;
    }
    .address__inner{
        height: 250px;
        width: 290px;
    }
  }
  @media (max-width:350px) {
    .main__list{
        max-width: 250px;
    }
    .main__item{
        font-size: 16px;
    }
  }
